.logo {
  margin-top: 5px;
}

.hero {
  height: 500px;
  width: 100%;
  background: url("../img/home-hero.jpg") no-repeat center;
}

.hero h1 {
  margin-top: 0;
}

.heroText {
  width: 570px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(54, 69, 79, 0.75)
}

.heroText a {
  margin-bottom: 10px; 
}

/*Modals*/
.modalATag:hover {
  cursor: pointer;
}
.loggerModal {
  left: 25%;
  top: 8%;
  position: fixed;
  width: 50%;
  padding: 2em;
  background-color: white;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
.skillGroup {
  display: flex;
  justify-content: space-around;
}
.skillPair { 
  display: flex;
  flex-direction: column;
}
.signupBtn {
  margin-top: 20px;
}
.

.catRow {
  height: 150px;
  margin-top: -75px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #311b92;
}
.closeBtn {
  color: black;
}
.closeBtn:hover {
  cursor: pointer;
}

.iconRow {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.homeIcon {

}

.steps {
  height: 450px;
  margin-top: 50px;
  text-align: center;
}

.catsExplained {
  height: 450px;
  background: linear-gradient(to bottom, #673ab7, #b39ddb);
}

.catsExplained h2 {
  padding-top: 25px;
}
