/*Home Page*/
.homeRow {
  height: 400px;
  width: 100%;
  border: 1px solid red;

  text-align: center;

  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;*/
}
.homeImg {
  border: 1px solid red;
  width: 100%;
  height: 400px;
  background: url('../img/main-home.jpg') no-repeat;
  background-size: cover;
}
.welcomeImgText {
  font-size:4.5em;
  color: coral;
  margin-top: 15vh;
}
/*NavBar*/
ul {
  list-style: none;
}

body {
  background: linear-gradient(to bottom right, #13B06E, #49D4E8);
}

/*Category stuff*/
.catIcon {
  /*margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;*/
}
/*.catDetail {
  width: 20%;
  text-align: justify;
}*/
.catDetail h4 {
  margin: 10px 0 0 0;
}

/*Modals*/
.loggerModal {
  left: 20%;
  top: 5%;
  position: fixed;
  width: 40em;
  padding: 2em;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 25px 5 black;
}

.skillGroup {
  display: flex;
  justify-content: space-around;
}

/*UpdateUser*/
.updateDiv {
  padding: 3em;
  background-color: rgba(0,0,0, 0.5);
}
