<h1 class="center">Find A Guru</h1>
<div class="container">
  <div class="row">
    <div ng-if="guru.userType == 'guru'" ng-repeat="guru in gurus">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{ guru.name }}</span>
            <p>{{ guru.bio }}</p>
            <a 
              ng-href="/users/{{ guru.id }}"
              ng-if="guru.id != currentUserId">See Guru's Profile</a>
            <a 
              ng-href="/users/{{ guru.id }}"
              ng-if="guru.id == currentUserId">See My Profile</a>
              <button 
              ng-click="join()"
              ng-if="guru.id == currentUserId">Create Help Room</button>
          </div>
          <div class="card-action">
            <div class="chip" ng-if="guru.mobile">
              Mobile
            </div>
            <div class="chip" ng-if="guru.pc">
              PC
            </div>
            <div class="chip" ng-if="guru.homeTheater">
              Home Theater
            </div>
            <div class="chip" ng-if="guru.printer">
              Printer
            </div>
            <div class="chip" ng-if="guru.homeRouter">
              Home Router
            </div>
            <div class="chip" ng-if="guru.tv">
              TV
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <div class="row">
  <div class="section col s4">
      <div input-field>
          <select ng-model="select.value" material-select>
              <option ng-repeat="value in select.choices">{{value}}</option>
          </select>
      </div>
  </div>
