<h3 class="center">Find A Guru</h3>

<div class="container">
  <div class="row">
    <!-- Loop through all Gurus -->
    <div ng-if="guru.userType == 'guru'" ng-repeat="guru in gurus">
      <div class="col s12 m6">

        <!-- Single Card -->
        <div class="card teal">
          <div class="card-content white-text">
            
            <!-- Name & Pic -->
            <div class="center">
              <span class="card-title">{{ guru.name }}</span>
              <img 
                class="responsive-img userImg allUserImg circle" 
                ng-src="{{guru.profilePic}}">
            </div>
            
            <!-- Guru Bio -->
            <p class="center profileBio">{{ guru.bio }}</p>

            <!-- User Skills -->
            <div class="section">
              <div class="chip" ng-if="guru.mobile">
                Mobile
              </div>
              <div class="chip" ng-if="guru.pc">
                PC
              </div>
              <div class="chip" ng-if="guru.homeTheater">
                Home Theater
              </div>
              <div class="chip" ng-if="guru.printer">
                Printer
              </div>
              <div class="chip" ng-if="guru.homeRouter">
                Home Router
              </div>
              <div class="chip" ng-if="guru.tv">
                TV
              </div>
            </div>
            
            <!-- Btns, Conditional display -->
            <div class="userBtnBox">
              <a 
                class="btn deep-purple"
                ng-href="/users/{{ guru.id }}"
                ng-if="guru.id != currentUserInfo.id">
                See Guru's Profile
              </a>
              <a 
                class="btn deep-purple allUsersChatRoomBtn"
                ng-href="/users/{{ guru.id }}"
                ng-if="guru.id == currentUserInfo.id">
                See My Profile
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>