
<div class="hero">
  <div class="heroText">
    <h1 class="center white-text">Tech Support On Demand</h1>
    <a ng-href="#" class="waves-effect waves-light btn">Learn More</a>
    <a ng-href="#" class="waves-effect waves-light btn deep-purple">Find Help</a>
  </div>
</div>
<div class="container">
  <div class="catRow">
    <p class="center">This is category row</p>
  </div>
</div>
<div class="steps">
  <h2 class="center deep-purple-text">Problems Solved</h2>
</div>
































<!-- <section>
  <div class="homeImg">
    <h1 class="welcomeImgText center"> Tech Support on demand</h1>
  </div>
</section>

<section>
  <div class="catsRow">
    <h3 class="center">Find Help For:</h3>
    <div class="container">
      <div class="row homeRow">
        <div class="col s12 m4 l2 catIcon">
          <i class="fa fa-tv fa-3x" aria-hidden="true"></i>
          <p>Home Theater</p>
        </div>
        <div class="col s12 m4 l2 catIcon">
          <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>
          <p>Computers</p>
        </div>
        <div class="col s12 m4 l2 catIcon">
          <i class="fa fa-apple fa-3x" aria-hidden="true"></i>
          <p>iOS &amp; Apple</p>
        </div>
        <div class="col s12 m4 l2 catIcon">
          <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
          <p>Smart Phones</p>
        </div>
        <div class="col s12 m4 l2 catIcon">
          <i class="fa fa-windows fa-3x" aria-hidden="true"></i>
          <p>Windows</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="homeRow container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<section>
  <h3 class="center">Gurus in these Categories</h3>
  <div class="container">
    <div class="row homeRow">
       <div class="col s12 m6 l3 catIcon catDetail">
          <i class="fa fa-tv fa-3x" aria-hidden="true"></i>
          <h4>Home Theater</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam</p>
        </div>
        <div class="col s12 m6 l3 catIcon catDetail">
          <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>
          <h4>Computers</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam</p>
        </div>
        <div class="col s12 m6 l3 catIcon catDetail">
          <i class="fa fa-apple fa-3x" aria-hidden="true"></i>
          <h4>iOS &amp; Apple</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam</p>
        </div>
        <div class="col s12 m6 l3 catIcon catDetail">
          <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
          <h4>Smart Phones</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam</p>
        </div>
        <div class="col s12 m6 l3 catIcon catDetail">
          <i class="fa fa-windows fa-3x" aria-hidden="true"></i>
          <h4>Windows</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam</p>
        </div>
    </div>
  </div>
</section> -->

