<!-- <div class="parallax-container">
    <div parallax><img src="../img/home-hero.jpg"></div>
</div> -->
<div class="hero">
  <div class="heroText">
    <h1 class="center white-text">Tech Support On Demand</h1>
    <a ng-href="#about" class="waves-effect waves-light btn">Learn More</a>
    <a ng-href="#" class="waves-effect waves-light btn deep-purple">Find Help</a>
  </div>
</div>
<div class="container">
  <div class="catRow">
    <div class="iconRow">
      <div class="row">
        <div class="col s2">
          <img class="homeIcon" ng-src="../../img/monitor.png">
          <p class="teal-text"><strong>Computers</strong></p>
        </div>
        <div class="col s2">
          <img class="homeIcon" ng-src="../../img/wifi.png">
          <p class="teal-text"><strong>Wifi Router</strong></p>
        </div>
        <div class="col s2">
          <img class="homeIcon" ng-src="../../img/printer.png">
          <p class="teal-text"><strong>Printers</strong></p>
        </div>
        <div class="col s2">
          <img class="homeIcon" ng-src="../../img/music-player.png">
          <p class="teal-text"><strong>Home Theater</strong></p>
        </div>
        <div class="col s2">
          <img class="homeIcon" ng-src="../../img/television.png">
          <p class="teal-text"><strong>Television</strong></p>
        </div>
        <div class="col s2">
          <img class="homeIcon" ng-src="../../img/smartphone.png">
          <p class="teal-text"><strong>Mobile Phone</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="steps" id="about">
  <h2 class="center deep-purple-text">Problems Solved</h2>
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Corporis ducimus natus atque fugiat quibusdam sed quisquam 
    qui consequuntur obcaecati? Maiores, consequuntur itaque 
    excepturi odit dicta omnis illo non dolorem quae.</p>
    <hr>
    <div class="row">
      <div class="col m4">
        <h4><strong>Step 1</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Iure in, dolore temporibus! Eligendi facilis nemo, unde odit 
          natus repellendus dolor optio? Repellat sapiente expedita 
          perferendis modi quia ipsa, officiis iure.</p>
      </div>
      <div class="col m4">
        <h4><strong>Step 2</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Iure in, dolore temporibus! Eligendi facilis nemo, unde odit 
          natus repellendus dolor optio? Repellat sapiente expedita 
          perferendis modi quia ipsa, officiis iure.</p>
      </div>
      <div class="col m4">
        <h4><strong>Step 3</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Iure in, dolore temporibus! Eligendi facilis nemo, unde odit 
          natus repellendus dolor optio? Repellat sapiente expedita 
          perferendis modi quia ipsa, officiis iure.</p>
      </div>
    </div>
  </div>
</div>
<div class="catsExplained">
  <div class="container">
    <h2 class="white-text center">Get Help</h2>
    <div class="row">
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/monitor-color.png">
        <p class="white-text"><small>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit. Voluptate officia, illo, perferendis quos 
          molestias voluptatibus, sit et temporibus omnis necessitatibus 
          nulla magni quod aspernatur atque id aliquid labore eius 
          quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing 
          elit. Quasi eum veniam tempore commodi neque ratione et, 
          explicabo perspiciatis velit sequi blanditiis eaque doloribus, 
          natus accusamus ab eos facilis! Quae, eum.</small></p>
      </div>
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/wifi-color.png">
        <p class="white-text"><small>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit. Voluptate officia, illo, perferendis quos 
          molestias voluptatibus, sit et temporibus omnis necessitatibus 
          nulla magni quod aspernatur atque id aliquid labore eius 
          quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing 
          elit. Quasi eum veniam tempore commodi neque ratione et, 
          explicabo perspiciatis velit sequi blanditiis eaque doloribus, 
          natus accusamus ab eos facilis! Quae, eum.</small></p>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/printer-lg.png">
        <p class="white-text"><small>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit. Voluptate officia, illo, perferendis quos 
          molestias voluptatibus, sit et temporibus omnis necessitatibus 
          nulla magni quod aspernatur atque id aliquid labore eius 
          quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing 
          elit. Quasi eum veniam tempore commodi neque ratione et, 
          explicabo perspiciatis velit sequi blanditiis eaque doloribus, 
          natus accusamus ab eos facilis! Quae, eum.</small></p>
      </div>
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/music-player-color.png">
        <p class="white-text"><small>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit. Voluptate officia, illo, perferendis quos 
          molestias voluptatibus, sit et temporibus omnis necessitatibus 
          nulla magni quod aspernatur atque id aliquid labore eius 
          quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing 
          elit. Quasi eum veniam tempore commodi neque ratione et, 
          explicabo perspiciatis velit sequi blanditiis eaque doloribus, 
          natus accusamus ab eos facilis! Quae, eum.</small></p>
      </div>
      </div>
      <hr>
      <br>
      <div class="row">
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/television-color.png">
        <p class="white-text"><small>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit. Voluptate officia, illo, perferendis quos 
          molestias voluptatibus, sit et temporibus omnis necessitatibus 
          nulla magni quod aspernatur atque id aliquid labore eius 
          quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing 
          elit. Quasi eum veniam tempore commodi neque ratione et, 
          explicabo perspiciatis velit sequi blanditiis eaque doloribus, 
          natus accusamus ab eos facilis! Quae, eum.</small></p>
      </div>
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/smartphone-color.png">
        <p class="white-text"><small>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit. Voluptate officia, illo, perferendis quos 
          molestias voluptatibus, sit et temporibus omnis necessitatibus 
          nulla magni quod aspernatur atque id aliquid labore eius 
          quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing 
          elit. Quasi eum veniam tempore commodi neque ratione et, 
          explicabo perspiciatis velit sequi blanditiis eaque doloribus, 
          natus accusamus ab eos facilis! Quae, eum.</small></p>          
      </div>
    </div>
  </div>
</div>

