<div class="hero">
  <div class="heroText">
    <h1 class="center white-text">Tech Support On Demand</h1>
    <a ng-href="#about" class="waves-effect waves-light btn">Learn More</a>
    <a ng-href="/users" class="waves-effect waves-light btn deep-purple">Find Help</a>
  </div>
</div>
<div class="container">
  <div class="catRow">
    <div class="iconRow">
      <div class="row">
        <div class="col s4 m2">
          <img class="homeIcon" ng-src="../../img/monitor.png">
          <p class="teal-text"><strong>Computers</strong></p>
        </div>
        <div class="col s4 m2">
          <img class="homeIcon" ng-src="../../img/wifi.png">
          <p class="teal-text"><strong>Wifi Router</strong></p>
        </div>
        <div class="col s4 m2">
          <img class="homeIcon" ng-src="../../img/printer.png">
          <p class="teal-text"><strong>Printers</strong></p>
        </div>
        <div class="col s4 m2">
          <img class="homeIcon" ng-src="../../img/music-player.png">
          <p class="teal-text"><strong>Home Theater</strong></p>
        </div>
        <div class="col s4 m2">
          <img class="homeIcon" ng-src="../../img/television.png">
          <p class="teal-text"><strong>Television</strong></p>
        </div>
        <div class="col s4 m2">
          <img class="homeIcon" ng-src="../../img/smartphone.png">
          <p class="teal-text"><strong>Mobile Phone</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="steps" id="about">
  <h2 class="center deep-purple-text">Problems Solved</h2>
  <div class="container">

    <h5>We want you to get back to your day, and not waste anymore frustrating minutes trying to resolve your issue.
      Connect with a Texpert anywhere at anytime!
    </h5>
    <hr>
    <div class="row">
      <div class="col m4">
        <h4 class="reason-text"><strong>Ditch The Squad</strong></h4>
        <p>Stop bringing your device into a location, waiting in lines forever,
           or paying a large fee to have someone come to your house.</p>
      </div>
      <div class="col m4">
        <h4 class="reason-text"><strong>On Your Time</strong></h4>
        <p>Having technical difficulties? Get in touch with a Texpert on your time,
          when it is most convienent to you.</p>
      </div>
      <div class="col m4">
        <h4 class="reason-text"><strong>Support Anywhere</strong></h4>
        <p>No matter where you live, you have access to our Texperts, who are willing
          and eager to help you solve your issue!</p>
      </div>
    </div>
  </div>
</div>
<div class="catsExplained">
  <div class="container">
    <h2 class="white-text center">Get Help</h2>
    <div class="row">
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/monitor-color.png">

        <p class="white-text">If you're experiencing computer problems, 
          looking for lessons, or just need your robot to high-five you again, 
          then look no further.</p>
      </div>
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/wifi-color.png">
        <p class="white-text">The internet is like oxygen for your devices. 
          We'll help you sync up and link up. Put on your swimming trunks 
          and surf the Web.</p>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/printer-lg.png">

        <p class="white-text">Looking to give your home an IQ boost? Our 
          Techs can install and provide support for smart locks, lightbulbs, 
          hubs and more!</p>
      </div>
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/music-player-color.png">
        <p class="white-text">Are you not entertained? We'll get your TV connected, 
          the remote set up, and your home bathing in sound. 
          Bring a little Hollywood home.</p>
      </div>
      </div>
      <hr>
      <br>
      <div class="row">
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/television-color.png">

        <p class="white-text">We live in the future. And in the future, 
          TVs are hung and standard definition pictures make us sneeze. 
          Show off your digital piece of art.</p>
      </div>
      <div class="col s6">
        <img class="expIcon" ng-src="../../img/smartphone-color.png">
        <p class="white-text">Your mobile phone is oh-so vital. Whether 
          it's set-up, syncing contacts or email, we've got your 
          iPhone or Android covered.</p>          
      </div>
    </div>
  </div>
</div>
<footer class="page-footer teal lighten-2">
    <div class="footer-copyright">
        <div class="container">
            Built By
            <a class="deep-purple-text" ng-href="https://github.com/jnhustin">Justin Hoang</a> &
            <a class="deep-purple-text" ng-href="https://github.com/krichdev">Kyle Richardson</a>
        </div>
    </div>
</footer>

