<div ng-controller="NavCtrl">
  <nav class="navbar-fixed deep-purple" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- <div class="nav-wrapper container"> -->
      <!-- BOOTSTRAP BUTTON, MUST CHANGE -->
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->



    <div class="nav-wrapper">
      <a class="brand-logo" href="/"><img class="logo" ng-src="../../img/logo.png"></a>

      <a 
        href="#" 
        data-activates="mobile" 
        class="button-collapse right">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <!-- TEST -->
        <li>
          <a ng-show="isLoggedIn()"
            href="/users">
            Gurus
          </a>
        </li>
        <li>
          <a ng-show="isLoggedIn()"
            href="/main/join">
            TEST chatroom
          </a>
        </li>
        <!-- TEST -->
        <li>
          <a 
            class="btn" 
            ng-hide="isLoggedIn()" 
            data-target="signupModal" modal>
            Signup
          </a>
        </li>
        <li>
          <a
            class="btn"
            ng-hide="isLoggedIn()"
            data-target="loginModal" modal>
            Login
          </a>
        </li>
        <li>
          <a ng-click="logout()" ng-show="isLoggedIn()">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
  {{ isLoggedIn }}

  <!-- Modals -->
  <div 
    id="loginModal" 
    class="modal">
    <div ng-include="'app/views/userLogin.html'"></div>
  </div>

  <div
    id="signupModal"
    class="modal">
    <div ng-include="'app/views/userSignup.html'"></div>
  </div>

</div>