<div ng-controller="NavCtrl">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="nav-wrapper">
      
      <a class="brand-logo" href="/">Generic Home</a>
      <a 
        href="#" 
        data-activates="mobile" 
        class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a ng-hide="isLoggedIn()" ng-click="toggleSignup()">
            Signup
          </a>
        </li>
        <li>
          <a href="#" ng-hide="isLoggedIn()" ng-click="toggleLogin()">
            Login
          </a>
        </li>
        <li>
          <a ng-click="logout()" ng-show="isLoggedIn()">
            Logout
          </a>
        </li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  </nav>
  {{ isLoggedIn }}

  <!-- Modals -->
  <div 
    id="loginModal" 
    class="loggerModal" 
    ng-if="showLogin"
    ng-include="'app/views/userLogin.html'">
  </div>

  <div
    id="signupModal"
    class="loggerModal"
    ng-if="showSignup"
    ng-include="'app/views/userSignup.html'">
    
  </div>

</div>
