<div class="row">
  <div class="col">
    <!-- Shows if not currentUser -->
    <p ng-if="!isCurrentUsersPage">
      <a href="/users">See All Gurus</a> > More About {{ guru.name }}
    </p>
  </div>
  <!-- Shows if it's your profile -->
  <p ng-if="isCurrentUsersPage">
    <a href="/users">See All Gurus</a> > Your Profile Page
  </p>
</div>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <!-- User Card -->
    <div 
      class="card teal darken-1"
      ng-class="{
        guruCard: guru.userType == 'guru',
        userCard: guru.userType == 'user'
      }">
     
      <!-- Basic Info  -->
      <div class="card-content white-text section">
        <span class="card-title center">
          <strong>{{ guru.name }}</strong>
        </span>

        <div class="center">
          <img 
            class="responsive-img userImg singleUserImg circle" 
            ng-src="{{ guru.profilePic }}">
        </div>

        <!-- Guru Bio -->
        <p 
          class="center profileBio"
          ng-if="guru.userType == 'guru'">{{ guru.bio }}</p>
        
        <!-- Guru Skills -->
        <div
          ng-if="guru.userType == 'guru'"
          class="section">
          <div class="chip" ng-if="guru.mobile">
            Mobile
          </div>
          <div class="chip" ng-if="guru.pc">
            PC
          </div>
          <div class="chip" ng-if="guru.homeTheater">
            Home Theater
          </div>
          <div class="chip" ng-if="guru.printer">
            Printer
          </div>
          <div class="chip" ng-if="guru.homeRouter">
            Home Router
          </div>
          <div class="chip" ng-if="guru.tv">
            TV
          </div>
        </div>
      </div>

      <!-- Update Btn, Show if it's your profile -->
      <div
        ng-if="currentUserInfo.id == guru.id" 
        class="center section">
        <a
          class="modalATag btn deep-purple"
          data-target="updateModal" modal> 
          Update user
        </a>
      </div>

    </div>
  </div> 
</div>

<!-- Open help Requests -->
<div class="container">
  <div class="row">
    <h4>Open Help Tickets</h4>
    <div
      ng-if="isCurrentUsersPage"
      ng-repeat="message in messageList">
      <div class="col s4">
        <div class="card helpRequestCard">
          
          <div class="card-content"> 
            <h5 class="center">
              {{ message.issueTitle }}
            </h5>
            <label>Description</label>
            <p class="issueDescription">
              {{ message.description}}
            </p>

            <div class="section center">
              <a
                ng-if="message.chatId"
                ng-href="/chat/{{ message.chatId }}"
                class="btn btn-primary">
                Chat with a Guru
              </a>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Chat messages, Shows if current users profile page & user !=guru -->
<div class="container">
  <h4
    ng-if="guru.chatHistory">
    Saved Chats</h4>
</div>

<div 
  ng-if="isCurrentUsersPage" 
  ng-repeat="(chatName, chatObj) in chatHistory">
  <div class="row">
    <div class="card col s10 offset-s1 card-content"> 
      <h3>{{ chatName }}</h3>
      <div ng-repeat="msgObj in chatObj.messages">
        <p>
          {{ msgObj.from }}: {{ msgObj.message }}
        </p>
      </div>
    </div>
  </div>

</div>

<!-- Update Modal -->
<div 
  id="updateModal" 
  class="modal">
  <div ng-include="'app/views/modals/updateUser.html'"></div>
</div>
