<div class="row">
  <div class="col">
    <!-- Shows if not currentUser -->
    <p ng-if="!isCurrentUsersPage">
      <a href="/users">Back</a> > More About {{ guru.name }}
    </p>
  </div>
  <!-- Shows if it's your profile -->
  <p ng-if="isCurrentUsersPage">
    <a href="/users">Back</a> > Your Profile Page
  </p>
</div>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card teal darken-1">
     
     <!-- Basic Info  -->
      <div class="card-content white-text section">
        <span class="card-title center">
          <strong>{{ guru.name }}</strong>
        </span>

        <div class="center">
          <img 
            class="responsive-img userImg singleUserImg circle" 
            ng-src="{{ guru.profilePic }}">
        </div>

        <p class="center profileBio">{{ guru.bio }}</p>
        
        <!-- Guru Skills -->
        <div class="section">
          <div class="chip" ng-if="guru.mobile">
            Mobile
          </div>
          <div class="chip" ng-if="guru.pc">
            PC
          </div>
          <div class="chip" ng-if="guru.homeTheater">
            Home Theater
          </div>
          <div class="chip" ng-if="guru.printer">
            Printer
          </div>
          <div class="chip" ng-if="guru.homeRouter">
            Home Router
          </div>
          <div class="chip" ng-if="guru.tv">
            TV
          </div>
        </div>
      </div>


      <!-- Update Btn, Show if it's your profile -->
      <div class="center section">
        <a
          class="modalATag btn deep-purple"
          ng-if="currentUserId == guru.id"
          data-target="updateModal" modal> 
          Update user
        </a>
      </div>

    </div>
  </div> 
</div>

<!-- Shows if current users profile page -->
<div 
  class="card"
  ng-if="isCurrentUsersPage" 
  ng-repeat="(chatName, chatObj) in chatHistory">
  <h3>{{ chatName }}</h3>
  <div ng-repeat="msgObj in chatObj.messages">
    <div>
      {{ msgObj.from }}: {{ msgObj.message }}
    </div>
  </div>
</div>

 <div 
    id="updateModal" 
    class="modal">
    <div ng-include="'app/views/modals/updateUser.html'"></div>
  </div>