<h1>User Update</h1>
{{guru}}
<div class="updateDiv">
  <form ng-submit="updateUser()">
    <legend>User Signup</legend>
    <!-- Name -->
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        ng-model="guru.name">
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        ng-model="guru.email">
    </div>

    <!-- Phone -->
    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        ng-model="guru.phone">
    </div>

    <div>
      <label>Skills</label>
      <div class="skillGroup">

        <!-- mobile/pc -->
        <div>
          <p>
            <input
              id="mobile"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="mobile"
              ng-model="guru.mobile">
            <label for="mobile">Mobile</label>
          </p>
          <p>
            <input
              id="pc"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="pc"
              ng-model="guru.pc">
            <label for="pc">PC</label>
          </p>
        </div>
        <!-- printer/homeTheater -->
        <div>
          <p>
            <input
              id="printer"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="printer"
              ng-model="guru.printer">
            <label for="printer">Printer</label>
          </p> 
          <p>
            <input
              id="homeTheater"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="homeTheater"
              ng-model="guru.homeTheater">
            <label for="homeTheater">Home Theater</label>
          </p> 
        </div>
        <!-- homeRouter/tv -->
        <div>
          <p>
            <input
              id="homeRouter"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="homeRouter"
              ng-model="guru.homeRouter">
            <label for="homeRouter">Home Router</label>
          </p>
          <p>
            <input
              id="tv"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="tv"
              ng-model="guru.tv">
            <label for="tv">Television</label>
          </p>
        </div>

      </div>
    </div>

      <!-- Text Area -->
      <div class="input-field" ng-show="guru.userType == 'guru'">
        <p>Bio</p>
        <textarea 
          id="bio" 
          class="materialize-textarea" 
          ng-model="guru.bio"
          placeholder="Tell us about yourself" 
          >
        </textarea>
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
