<div class="modal-content">
  <h1>User Update</h1>
  {{guru}}
  <div>
    <form>
      <legend>User Signup</legend>
      <!-- Name -->
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          ng-model="guru.name">
      </div>

      <!-- Email -->
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          ng-model="guru.email">
      </div>

      <!-- Phone -->
      <div>
        <label for="phone">Phone</label>
        <input
          type="text"
          id="phone"
          ng-model="guru.phone">
      </div>

      <div>
        <label>Skills</label>
        <div class="skillGroup">

          <!-- mobile/pc -->
          <div>
            <input
              id="mobile"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="mobile"
              ng-model="guru.mobile">
            <label for="mobile">Mobile</label>
            
            <input
              id="pc"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="pc"
              ng-model="guru.pc">
            <label for="pc">PC</label>
          </div>
          <!-- printer/homeTheater -->
          <div>
            <input
              id="printer"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="printer"
              ng-model="guru.printer">
            <label for="printer">Printer</label>
            <input
              id="homeTheater"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="homeTheater"
              ng-model="guru.homeTheater">
            <label for="homeTheater">Home Theater</label>
          </div>
          <!-- homeRouter/tv -->
          <div>
            <input
              id="homeRouter"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="homeRouter"
              ng-model="guru.homeRouter">
            <label for="homeRouter">Home Router</label>
            <input
              id="tv"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="tv"
              ng-model="guru.tv">
            <label for="tv">Television</label>
          </div>

        </div>
      </div>

      <!-- Text Area -->
      <div class="input-field" ng-show="guru.userType == 'guru'">
        <p>Bio</p>
        <textarea 
          id="bio" 
          class="materialize-textarea" 
          ng-model="guru.bio"
          placeholder="Tell us about yourself" 
          >
        </textarea>
      </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <button
    ng-click="updateUser()"
    class="btn btn-primary">
    Update
  </button>
</div>