<div ng-controller="NavCtrl">
  <nav class="navbar-fixed deep-purple" role="navigation">
    <div class="nav-wrapper">
      <a class="brand-logo" href="/">
        <img class="logo" ng-src="../../img/logo.png">
      </a>

      <a 
        href="#" 
        data-activates="mobile" 
        class="button-collapse right">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a
            ng-show="currentUser" 
            ng-href="/messages">
            Message Board
          </a>
        </li>
        <li>
          <a
            ng-show="currentUser && currentUser.userType == 'user'" 
            data-target="helpModal" modal>
            Request Help
          </a>
        </li>
        <li>
          <a 
            ng-show="isLoggedIn()"
            ng-href="/users/{{ currentUserInfo.id }}">
            {{ currentUser.name }}
          </a>
        </li>
        <li>
          <a 
            ng-hide="isLoggedIn()" 
            data-target="signupModal" modal>
            Signup
          </a>
        </li>
        <li>
          <a
            ng-hide="isLoggedIn()"
            data-target="loginModal" modal>
            Login
          </a>
        </li>
        <li>
          <a 
            ng-click="logout()" 
            ng-show="isLoggedIn()">
            Logout
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <!-- Modals -->
  <div 
    id="helpModal" 
    class="modal">
    <div ng-include="'app/views/modals/helpRequestForm.html'"></div>
  </div>
  <div 
    id="loginModal" 
    class="modal">
    <div ng-include="'app/views/modals/userLogin.html'"></div>
  </div>

  <div
    id="signupModal"
    class="modal">
    <div ng-include="'app/views/modals/userSignup.html'"></div>
  </div>
</div>