<div class="modal-content">
  <h4>User Update</h4>
  <div>
    <form>
      <legend>User Signup</legend>
      <!-- Name -->
      <div input-field>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          length="16"
          ng-model="guru.name">
      </div>

      <!-- Email -->
      <div input-field>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          ng-model="guru.email">
      </div>

      <!-- Phone -->
      <div input-field>
        <label for="phone">Phone</label>
        <input
          type="text"
          id="phone"
          length="10"
          ng-model="guru.phone">
      </div>

      <!-- Profile -->
      <div input-field>
        <label for="profilePic">Profile picture: add an Image link</label>
        <input
          type="text"
          id="profilePic"
          ng-model="guru.profilePic">
      </div>

      <div>
        <label>Skills</label>
        <div class="skillGroup">

          <!-- mobile/pc -->
          <div class="skillPair">
            <input
              id="mobile"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="mobile"
              ng-model="guru.mobile">
            <label for="mobile">Mobile</label>

            <input
              id="pc"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="pc"
              ng-model="guru.pc">
            <label for="pc">PC</label>
          </div>
          <!-- printer/homeTheater -->
          <div class="skillPair">
            <input
              id="printer"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="printer"
              ng-model="guru.printer">
            <label for="printer">Printer</label>
            <input
              id="homeTheater"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="homeTheater"
              ng-model="guru.homeTheater">
            <label for="homeTheater">Home Theater</label>
          </div>
          <!-- homeRouter/tv -->
          <div class="skillPair">
            <input
              id="homeRouter"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="homeRouter"
              ng-model="guru.homeRouter">
            <label for="homeRouter">Home Router</label>
            <input
              id="tv"
              type="checkbox"
              name="skills"
              class="filled-in"
              value="tv"
              ng-model="guru.tv">
            <label for="tv">Television</label>
          </div>

        </div>
      </div>

      <!-- Text Area -->
      <div input-field class="input-field">
        <textarea 
          id="bio"
          length="160" 
          class="materialize-textarea" 
          ng-model="guru.bio"
          >
        </textarea>
        <label>Bio</label>
      </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <button
    ng-click="updateUser()"
    class="btn btn-primary modal-close">
    Update
  </button>
</div>